* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

nav {
  height: 50px;
  width: 100%;
  background-color: #ed0707;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}
nav .left__navbar {
  display: flex;
  width: 50%;
}
nav .left__navbar .letf__navabar-logo {
  display: flex;
  justify-content: center;
}
nav .left__navbar .letf__navabar-logo .logo-xs {
  margin-left: 7px;
  width: 40px;
  padding: 8px;
}
nav .left__navbar .letf__navabar-logo .logo-lg {
  display: none;
}
nav .left__navbar .language {
  display: none;
}
nav .left__navbar .login {
  display: none;
}
nav .right__navbar {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav .right__navbar a {
  display: none;
}

.buy__flight {
  height: 432px;
  width: 100%;
}
.buy__flight img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.buy__flight .gradient {
  position: absolute;
  height: 86%;
  left: 0;
  top: 50px;
  width: 100%;
  background-image: linear-gradient(to left, rgba(66, 66, 66, 0), rgba(0, 0, 0, 0.5));
}
.buy__flight .gradient .container__title {
  margin-top: 107px;
  width: 100%;
  height: auto;
  text-align: center;
  color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buy__flight .gradient .container__title h2 {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 0;
}
.buy__flight .gradient .container__title p {
  line-height: 25px;
  font-weight: 700;
  font-size: 1.1rem;
}
.buy__flight .gradient .container__title a {
  text-decoration: none;
  font-size: 0.75rem;
  height: 40px;
  width: 100%;
  background-color: #ed0707;
  color: #fff;
  border-radius: 5px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.reserv__flight {
  background-color: #f3f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}
.reserv__flight .panel-reserv {
  width: 90%;
  padding: 15px;
  position: relative;
  top: -65px;
  margin-bottom: -55px;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 3px 4px 0 0 rgba(0, 0, 0, 0.1);
}
.reserv__flight .panel-reserv .title-reserv {
  color: #ed0707;
  font-weight: 700;
  padding-bottom: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.reserv__flight .panel-reserv .title-reserv img {
  width: 12px;
  margin-right: 5px;
}
.reserv__flight .bottom-line {
  color: #dedddd;
}
.reserv__flight .select-panel {
  display: flex;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 22px;
}
.reserv__flight .select-panel input {
  margin-top: -5px;
}
.reserv__flight fieldset {
  border: none;
}
.reserv__flight fieldset .container-trayecto, .reserv__flight fieldset .container-aditional {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.reserv__flight fieldset .container-trayecto .ciudad-origen, .reserv__flight fieldset .container-aditional .ciudad-origen {
  height: 72px;
  border: solid 1px #dedddd;
  background-color: #fff;
  width: 50%;
  border-radius: 3px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reserv__flight fieldset .container-trayecto .ciudad-origen .from, .reserv__flight fieldset .container-aditional .ciudad-origen .from {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #323237;
}
.reserv__flight fieldset .container-trayecto .ciudad-origen .origin, .reserv__flight fieldset .container-aditional .ciudad-origen .origin {
  font-size: 0.625rem;
  color: #737376;
  padding: 0 15px;
  line-height: 1rem;
  letter-spacing: 0;
}
.reserv__flight fieldset .container-trayecto .ciudad-destino, .reserv__flight fieldset .container-aditional .ciudad-destino {
  height: 72px;
  border: solid 1px #dedddd;
  background-color: #fff;
  border-radius: 0 3px 0 0;
  border-left: 0;
  border-left-style: none;
  width: 49.9%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reserv__flight fieldset .container-trayecto .ciudad-destino .to, .reserv__flight fieldset .container-aditional .ciudad-destino .to {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #323237;
}
.reserv__flight fieldset .container-trayecto .ciudad-destino .destiny, .reserv__flight fieldset .container-aditional .ciudad-destino .destiny {
  font-size: 0.625rem;
  color: #737376;
  padding: 0 15px;
  line-height: 1rem;
  letter-spacing: 0;
}
.reserv__flight fieldset .swap-arrow {
  position: absolute;
  width: 24px;
  height: 24px;
  z-index: 5;
  left: calc(50% - 12px);
  text-align: center;
}
.reserv__flight fieldset .container-aditional .fecha-viaje {
  height: 49px;
  border: solid 1px #dedddd;
  border-top: 0;
  background-color: #fff;
  width: 50%;
  border-radius: 0 0 0 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reserv__flight fieldset .container-aditional .fecha-viaje div {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0;
  color: #323237;
}
.reserv__flight fieldset .container-aditional .cantidad-personas {
  height: 49px;
  border: solid 1px #dedddd;
  border-top: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 3px 0;
  border-left: 0;
  width: 49.9%;
}
.reserv__flight fieldset .container-aditional .cantidad-personas div {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0;
  color: #323237;
}
.reserv__flight fieldset .descuento {
  height: 20px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.reserv__flight fieldset .descuento img {
  width: 13px;
}
.reserv__flight fieldset .descuento p {
  font-size: 0.75rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #737376;
  padding-left: 5px;
}
.reserv__flight fieldset .search-flights {
  text-decoration: none;
  font-size: 0.75rem;
  height: 48px;
  width: 100%;
  min-width: 180px;
  background-color: #ed0707;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.reserv__flight fieldset .tabs-opcionales {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 16px;
}
.reserv__flight fieldset .tabs-opcionales a {
  margin-left: 4px;
  margin-right: 10px;
  color: #343e5b;
  font-size: 0.75rem;
  text-decoration: none;
}
.reserv__flight fieldset .tabs-opcionales img {
  width: 15px;
  margin-top: 5px;
}
.reserv__flight .panel-manage, .reserv__flight .panel-ejecutiveclass, .reserv__flight .panel-state, .reserv__flight .panel-checkin {
  font-weight: 700;
  font-size: 1rem;
  height: 44px;
  line-height: 14px;
  color: #36363b;
  width: 90%;
  padding: 16px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 3px 4px 0 0 rgba(0, 0, 0, 0.1);
}
.reserv__flight .panel-manage img, .reserv__flight .panel-ejecutiveclass img, .reserv__flight .panel-state img, .reserv__flight .panel-checkin img {
  width: 12px;
}
.promotions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.promotions .text-promotion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.promotions .text-promotion h2 {
  padding-top: 20px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.33;
  letter-spacing: -0.2px;
}
.promotions .text-promotion h2 span {
  text-decoration-line: underline;
}
.promotions .text-promotion h2 img {
  position: absolute;
  margin-top: 5px;
  margin-left: -5px;
}
.promotions .text-promotion p {
  width: 95%;
  margin-top: -10px;
  text-align: center;
  color: #323237;
  font-size: 1rem;
  margin-bottom: 32px;
}
.promotions .cards {
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.promotions .cards .card-container {
  width: 100%;
  padding-bottom: 15px;
}
.promotions .cards .card-container .imagen-card {
  width: 100%;
  height: 168px;
  position: relative;
  border-top: 1px solid #f3f2f2;
  border-left: 1px solid #f3f2f2;
  border-right: 1px solid #f3f2f2;
}
.promotions .cards .card-container .imagen-card img {
  width: 100%;
  height: 168px;
  border-radius: 3px 3px 0 0;
  position: relative;
}
.promotions .cards .card-container .imagen-card .gradient {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 50%;
  background-image: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.7) 100%);
}
.promotions .cards .card-container .imagen-card .gradient .vuelo-desde {
  text-align: left;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 15px;
}
.promotions .cards .card-container .imagen-card .gradient .vuelo-desde .where {
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.75;
}
.promotions .cards .card-container .imagen-card .gradient .vuelo-desde .card-title-destino {
  color: #fff;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 24px;
  margin: 0;
  word-break: break-word;
  letter-spacing: -0.73px;
}
.promotions .cards .card-container .description {
  border-radius: 0 0 3px 3px;
  border: 1px solid #dedddd;
  padding: 24px 16px 16px;
  position: relative;
  height: 120px;
  min-height: 120px;
  outline: 0;
  box-shadow: 0 2px 0 0 #dedddd;
  display: flex;
  justify-content: space-between;
}
.promotions .cards .card-container .description .promo p {
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  text-align: left;
  font-size: 0.859rem;
}
.promotions .cards .card-container .description .promo p span {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-left: 0;
  color: #323237;
}
.promotions .cards .card-container .description .arrow-right {
  margin-left: 1rem;
}
.promotions .cards .card-container .description .arrow-right img {
  margin-top: 2.5rem;
  width: 15px;
  height: 15px;
}
.promotions .button__more-content {
  padding-top: 20px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.promotions .button__more-content a {
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  width: 100%;
  height: 48px;
  padding: 16px 24px;
  line-height: 16px;
  min-width: 180px;
  font-weight: 700;
  font-size: 0.75rem;
  background: transparent;
  color: #1b1b1b;
  border-radius: 4px;
  border: 2px solid #323237;
}/*# sourceMappingURL=main.css.map */