@use './index' as *;


nav{
    height: 80px;
    width: 100%;
    background-color: $primary-color;
    color: $secondary-color;
    position: sticky;
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    .left__navbar{
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        .letf__navabar-logo{
            display: flex;
            justify-content: center;
            border: 2px solid green;
            img{
                width: 150px;
            }
        }
        .language{
            width: 30%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: 2px solid green;
            img{
                width: 16px;
                height: 16px;
            }
        }
    }
}